* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #c9c6c6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 10px;
}

#container {
    background-color: #adadad;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

input {
    padding: 10px;
    width: calc(100% - 20px);
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#name, #age {
    width: calc(100% - 20px);
}

#input-values {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

button {
    background-color: #1b2b1b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}

#output {
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
}
#output p {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}
@media only screen and (max-width: 600px) {
    #container {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    input, button {
        font-size: 14px;
        padding: 8px;
    }

    #output p {
        font-size: 16px;
    }
    #input-values {
        flex-direction: column;
    }
}